<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ListaPessoas">
<head>
    <title>Lista de Pessoas</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />


    <script src="/Scripts/angular.min.js"></script>
    <script>
        angular.module("ListaPessoas", []);
        angular.module("ListaPessoas").controller("ListaPessoasController", function($scope) {

            //NG-BIND = RETORNA ITENS DA CONTROLLER PARA A VIEW
            $scope.app = "Lista de Pessoas Cadastradas";

            //NG-REPEAT = PERMITE NAVEGAR POR LISTA CRIADAS
            $scope.contatos = [
                { Nome: "Pessoa1", Telefone: "9989899" },
                { Nome: "Pessoa2", Telefone: "9989899" },
                { Nome: "Pessoa3", Telefone: "9989899" },
                { Nome: "Pessoa4", Telefone: "9989899" }
            ];

            //NG-MODEL = PEGA DADOS DA VIEW E DEFINE NA VIEW

            //NG-CLICK = DISPARA UM EVENTO CLICK NA VIEW
            $scope.adicionarPessoa = function() {
                $scope.contatos.push({Nome: $scope.nome, Telefone: $scope.telefone});
            }
        });
    </script>
</head>
<body ng-controller="ListaPessoasController" class="container">
    <section class="jumbotron text-center">
        <header>
            <h3>{{app}}</h3>
        </header>
        <div class="container">
            <table class="table table-hover">
                <tr>
                    <th>Nome de Pessoa</th>
                    <th>Telefone Pessoa</th>
                </tr>
                <tr ng-repeat="contato in contatos">
                    <td>{{contato.Nome}}</td>
                    <td>{{contato.Telefone}}</td>
                </tr>
            </table>
        </div>
        <hr/>
        <div class="container form-group">
            <input type="text" ng-model="nome" placeholder="Insira seu Nome" class="form-control"/><br/>
            <input type="text" ng-model="telefone" placeholder="insira seu Telefone" class="form-control" /><br />
        </div>
        <div class="container form-group">
            <button class="btn btn-primary btn-block" ng-click="adicionarPessoa()">Adicionar Pessoa</button>
        </div>
    </section>
</body>
</html>
