<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ListaPessoas">
<head>
    <title>Lista de Pessoas</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .selecionado{background-color: lightgoldenrodyellow}
    </style>


    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-locale-pt-br.js"></script>
    <script src="/Scripts/angular-messages.js"></script>
    <script>
        angular.module("ListaPessoas", ["ngMessages"]);
        angular.module("ListaPessoas").controller("ListaPessoasController", function($scope,$filter) {

            //NG-BIND = RETORNA ITENS DA CONTROLLER PARA A VIEW
            $scope.app = "Lista de Pessoas Cadastradas";

            //NG-REPEAT = PERMITE NAVEGAR POR LISTA CRIADAS
            $scope.pessoas = [
                { nome: $filter("uppercase")("Maria"), telefone: "1989899", dataNascimento: new Date(), cor:"red" },
                { nome: $filter("uppercase")("Jose"), telefone: "2989899", dataNascimento: new Date(), cor: "red" },
                { nome: $filter("uppercase")("Alfredo"), telefone: "3989899", dataNascimento: new Date(), cor: "red" },
                { nome: $filter("uppercase")("Julia"), telefone: "4989899", dataNascimento: new Date(), cor: "red" }
            ];

            //CRIANDO UM ARRAY DE SEXOS
            $scope.sexos = [
                { nome: "Masculino", codigo: "M", descricao: "Pessoa Sexo Masculino", valorCad:5},
                { nome: "Feminino", codigo: "F", descricao: "Pessoa Sexo Feminino", valorCad: 2 },
                { nome: "Outros", codigo: "O", descricao: "Pessoa Com Sexo Não Classificado", valorCad: 10 }
            ];

            //NG-CLASS




            //NG-MODEL = PEGA DADOS DA VIEW E DEFINE NA VIEW

            //NG-CLICK = DISPARA UM EVENTO CLICK NA VIEW
            $scope.adicionarPessoa = function(pessoa) {
                $scope.pessoas.push(angular.copy(pessoa));
                delete $scope.pessoa;

                $scope.contatoForm.$setPristine();
            }

            $scope.apagarPessoa = function(pessoasDeletar) {
                //var pessoasSelecionadas = pessoasDeletar.filter(function (pessoas) {
                //    if (pessoas.selecionado) {
                //        return pessoas;
                //    }
                //});

                //console.log(pessoasSelecionadas);


                $scope.pessoas = pessoasDeletar.filter(function (pessoas) {
                    if (!pessoas.selecionado) {
                        return pessoas;
                    }
                });
            }


            //FUNCTION PODEM SER ATRIBUIDAS AO NG-DISABLED
            $scope.PessoaSelecionada = function (pessoas) {

                //AO SELECIONAR QUALQUER PESSOA DA LISTA 
                //ELE VAI RETORNAR NO LOG SE EXISTE OU NAO 
                //UM CONTATO SELECIONADO
                return pessoas.some(function(pessoa) {
                    return pessoa.selecionado;
                });
            }


            //PARA APLICAR OS FILTROS QUANDO O USUARIO CLICANO MENU SUPERIOR 
            //ELE TAMEBM ALTERA A ORNAÇÃO DOS ITENS QUANDO O USUARIO CLICA MAIS DE UMA VEZ
            $scope.OrdenarPor = function(campo) {
                $scope.criterioOrdenacao = campo;
                $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            }

        });
    </script>
</head>
<body ng-controller="ListaPessoasController" class="container">
    <section class="jumbotron text-center">
        <header>
            <h3>{{app}}</h3>
        </header>
        <br />
        <div class="container">
            <input type="text" ng-model="criterioDeBusca" placeholder="Busca Uma Pessoa" class="form-control" />
            <table class="table table-hover" ng-show="pessoas.length > 0">
                <tr>
                    <th></th>
                    <th><a href="" ng-click="OrdenarPor('nome')">Nome</a></th>
                    <th><a href="" ng-click="OrdenarPor('Telefone')">Telefone</a></th>
                    <th>Data De Nascimento</th>
                    <th>Sexo</th>
                    <th></th>
                </tr>

                <tr ng-class="{selecionado: pessoa.selecionado}" ng-repeat="pessoa in pessoas | filter:criterioDeBusca | orderBy: criterioOrdenacao:direcaoDaOrdenacao">
                    <td><input type="checkbox" ng-model="pessoa.selecionado" /></td>
                    <td>{{pessoa.nome}}</td>
                    <td>{{pessoa.telefone}}</td>
                    <td>{{pessoa.dataNascimento | date:'dd-MM-yyyy'}}</td>
                    <td>{{pessoa.sexo.nome | lowercase}}</td>
                    <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': pessoa.cor}"></div></td>
                </tr>
            </table>
        </div>
        <hr />
            <form name="contatoForm">
                <div class="container form-group">
                    <input type="text" ng-model="pessoa.nome" placeholder="Insira seu Nome" ng-required="true" name="nome" ng-minlength="10" class="form-control" /><br />
                    <input type="text" ng-model="pessoa.telefone" placeholder="insira seu Telefone" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" class="form-control" /><br />

                    <!--<select class="form-control" ng-model="pessoa.sexo" ng-options="sexo.codigo as sexo.nome for sexo in sexos">
                            <option value="">Selecione um Sexo</option>
                        </select>-->
                    <!--<select class="form-control" ng-model="pessoa.sexo" ng-options="sexo.nome group by sexo.descricao for sexo in sexos">
                            <option value="">Selecione um Sexo</option>
                        </select>-->

                    <select class="form-control" ng-model="pessoa.sexo" ng-options="sexo.nome + '('+ (sexo.valorCad | currency) +')' for sexo in sexos | orderBy:'nome'">
                        <option value="">Selecione um Sexo</option>
                    </select>

                </div>
                <!-- ERROS DE CAMPO NOME -->
                
                <div ng-messages="contatoForm.nome.$error">
                    
                    <div class="container form-group" ng-message="required">
                        <div class="alert alert-danger">
                            <strong>Preencha o campo Nome</strong>
                        </div>
                    </div>
                    <div class="container form-group" ng-message="minlength">
                        <div class="alert alert-danger">
                            <strong>O campo Nome deve ter no minimo 10 caracteres</strong>
                        </div>
                    </div>

                </div>
                

                
                <!-- ERROS DE CAMPO TELEFONE -->
                <div ng-messages="contatoForm.telefone.$error">
                    
                    <div class="container form-group" ng-message="required">
                        <div class="alert alert-danger">
                            <strong>Preencha o campo Telefone</strong>
                        </div>
                    </div>
                    <div class="container form-group" ng-message="pattern">
                        <div class="alert alert-danger">
                            <strong>O campo telefone deve ter o seguinte padrão 9999-9999</strong>
                        </div>
                    </div>
                </div>

                
                <!-- CAMPOS DOS BOTOES -->
                <div class="container form-group">
                    <button class="btn btn-primary btn-block" ng-click="adicionarPessoa(pessoa)" ng-disabled="contatoForm.$invalid">Adicionar Pessoa</button>
                    <button class="btn btn-danger btn-block" ng-click="apagarPessoa(pessoas)" ng-if="PessoaSelecionada(pessoas)">Deletar Pessoas</button>
                    <!--<button class="btn btn-danger btn-block" ng-click="apagarPessoa(pessoas)" ng-hide="PessoaSelecionada(pessoas)">Deletar Pessoas</button>-->
                    <!--<button class="btn btn-danger btn-block" ng-click="apagarPessoa(pessoas)" ng-show="PessoaSelecionada(pessoas)">Deletar Pessoas</button>-->
                </div>
            </form>
</section>

    <!--
        PODEMOS PEGAR TAMBEM O RODAPE DA PEGINA
        DE OUTRO ARQUIVO
    -->
    <div ng-include="'footer.html'"></div>
</body>
</html>
