<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ListaPessoas">
<head>
    <title>Lista de Pessoas</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />



    <script src="/Scripts/angular.min.js"></script>
    <script>
        angular.module("ListaPessoas", []);
        angular.module("ListaPessoas").controller("ListaPessoasController", function($scope) {

            //NG-BIND = RETORNA ITENS DA CONTROLLER PARA A VIEW
            $scope.app = "Lista de Pessoas Cadastradas";

            //NG-REPEAT = PERMITE NAVEGAR POR LISTA CRIADAS
            $scope.contatos = [
                { nome: "Pessoa1", telefone: "9989899" },
                { nome: "Pessoa2", telefone: "9989899" },
                { nome: "Pessoa3", telefone: "9989899" },
                { nome: "Pessoa4", telefone: "9989899" }
            ];

            //CRIANDO UM ARRAY DE SEXOS
            $scope.sexos = [
                { nome: "Masculino", codigo: "M" },
                { nome: "Feminino", codigo: "F" },
                { nome: "Outros", codigo: "O" }
            ];



            //NG-MODEL = PEGA DADOS DA VIEW E DEFINE NA VIEW

            //NG-CLICK = DISPARA UM EVENTO CLICK NA VIEW
            $scope.adicionarPessoa = function(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            }
        });
    </script>
</head>
<body ng-controller="ListaPessoasController" class="container">
    <section class="jumbotron text-center">
        <header>
            <h3>{{app}}</h3>
        </header>
        <br/>
        <div class="container">
            <table class="table table-hover">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Sexo</th>
                </tr>
                <tr ng-repeat="contato in contatos">
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.sexo.nome}}</td>
                </tr>
            </table>
        </div>
        <hr/>
        <div class="container form-group">
            <input type="text" ng-model="pessoa.nome" placeholder="Insira seu Nome" class="form-control"/><br/>
            <input type="text" ng-model="pessoa.telefone" placeholder="insira seu Telefone" class="form-control" /><br />
            <select class="form-control" ng-model="pessoa.sexo" ng-options="sexo.nome for sexo in sexos">
                <option value="">Selecione um Sexo</option>
            </select>
        </div>
        <div class="container form-group">
            <button class="btn btn-primary btn-block" ng-click="adicionarPessoa(pessoa)" ng-disabled="!pessoa.nome || !pessoa.telefone">Adicionar Pessoa</button>
        </div>
    </section>
</body>
</html>
